Repository wyx1818/nextjs-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./script/updateLastModify.js, eslint --cache --fix, prettier --write

chore: move config files to package.json
  .eslintrc.json
  .lintstagedrc
  .prettierrc
  package.json
Due: none

chore: update package.json user info
  package.json
  pages/posts/[id].tsx
Due: none

feat: automatically add creation time to mdx files
  content/posts/init.mdx
  package.json
  script/updateFrontmatter.js
Due: node ./script/updateLastModify.js, eslint --cache --fix, prettier --write

perf: Change the remote hljs css resource to local
  pages/posts/[id].tsx
  public/dark.min.css
Due: prettier --write

fix: fix eslint no-css-tags warning
  pages/posts/[id].tsx
  styles/dark.min.css
  styles/globals.css
Due: prettier --write

perf: optimize footnote display
  package.json
  pages/posts/[id].tsx
  styles/globals.css
  styles/hljs.css
  styles/markdown.css
  utils/mdxBundler.ts
Due: prettier --write

feat: Extract Markdown into separate components
  components/MDXMarkdown/index.tsx
  pages/posts/[id].tsx
  utils/mdxBundler.ts
Due: none

feat: Replaced syntax highlighting plugin from highlight.js to prism.js
  content/posts/init.mdx
  package-lock.json
  package.json
  pages/_app.tsx
  styles/globals.css
  styles/hljs.css
  styles/prism.css
  styles/tailwind.css
  tailwind.config.js
  tsconfig.json
  utils/mdxBundler.ts
Due: node ./script/updateLastModify.js, eslint --cache --fix, prettier --write

feat: support link heading
  components/Link.tsx
  components/MDXComponent.tsx
  package-lock.json
  package.json
  pages/posts/[id].tsx
  styles/markdown.css
  tsconfig.json
  utils/helper/files.ts
  utils/mdxBundler.ts
Due: prettier --write

Path conditions:
  node ./script/updateLastModify.js: any of: **/*.{md,mdx}
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
